@charset "utf-8";

@import '../../node_modules/bulma/sass/utilities/functions.sass';

$royal-purple: #8557B2;
$turquoise: #22D3C1;
$cyber-grape: #443C68;
$prussian-blue: #092234;

$primary: $royal-purple;

$secondary: $turquoise;
$secondary-invert: findColorInvert($secondary);

$tertiary: $cyber-grape;
$tertiary-invert: findColorInvert($tertiary);

$quaternary: $prussian-blue;
$quaternary-invert: findColorInvert($quaternary);

$custom-colors: (
	'secondary': (
		$secondary,
		$secondary-invert,
	),
	'tertiary': (
		$tertiary,
		$tertiary-invert,
	),
	'quaternary': (
		$quaternary,
		$quaternary-invert,
	),
);
